/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS reset for RWD */
*,*:before,*:after{
	box-sizing: border-box;
}
img{
	max-width: 100%;
	height: auto ;
}

.clearfix:after{
  content:'';
  display:table;
  clear:both;
}

body{
	font-family: 微軟正黑體;
}

/* CSS reset END */

.container{
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.wrap{	
	margin: 0 auto;
	transition: all 0.8s;
}

.header{
	background-color: #31af91;
	height: 50px;
}

.menu{
	margin: 0px auto;
	transition: all 2s;
}

.menu li{
	width: 16.66666%;
	float: left;
	padding: 5px;
}

.menu li a{
	display: block;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	background-color: #31af91;
	color: #fff;
	transition: all 0.5s;
}

.menu li a:hover{
	background: orange;
}

.showmenu{
	display: none;
}



.banner{
	height: 426px;
	background-color: #101125;
	background-image: url("../img/TTY_cute.jpg");
	background-repeat: no-repeat;
	background-position: center center;
}

.content{
	width: 50%;
	margin: 5% auto;	
}

.content h2{
	color: #31af91;
	font-size: 30px;
	text-align: center;
	margin: 10px auto;
}

.content legend{
	text-align: center;
}

.content label,.content button{
	margin-top: 10px;
}

.aside{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 270px;

	transform: translateX(-270px);
	overflow: hidden;

	background: #31af91;

	transition: all 0.8s;
	padding-top: 20px;
}
.aside li{
	width: 80%;
	margin: 0 auto;
}

.aside li a{
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 10%;
	text-align: left;
	border-left: 2px solid #fff;
	margin: 20px auto;
}

.aside li a:hover{
	background-color: orange;
	transition: all 0.3s;
}

@media(max-width: 767px){
	.aside{
		overflow: hidden scroll;
	}
	.showmenu{
		display: block;
	}
	.showmenu img{
		max-width: 50px;
	}
	.menu{
		display: none;
	}

	.open .aside{
		display: block;
		transform: translateX(0px);
	}
	.open .wrap{
		transform: translateX(270px);
	}
}
