/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS reset for RWD */
*,*:before,*:after{
	box-sizing: border-box;
}
img{
	max-width: 100%;
	height: auto;
}

/* CSS reset END */

.clearfix:after{
  content:'';
  display:table;
  clear:both;
}

body{
	font-family: 微軟正黑體;
	/*background-color: #000;*/
}

/* 統一字型大小 h2~h6,p {font-size} */
h2{	font-size: 30px; }
h3{	font-size: 24px; }
h4{ font-size: 20px; }
h5{	font-size: 18px; }
h6{	font-size: 16px; }
p{	font-size: 14px;
	line-height: 1.5;
	text-align: justify;
	text-indent: 2em; }

.wrap{
	max-width: 960px;
	margin: 0 auto;
}

.header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	background-color: rgba(0,0,0,0.8);
}

.logo h1 a{
	/* for SearchEngine */
	background-image: url("../img/logo_w(null).svg");
	background-repeat: no-repeat;
	background-position: center center;
	width: 120px;
	height: 40px;
	margin: 10px 20px;
	display: block;
	text-indent: 101%;
	white-space: nowrap;
	overflow: hidden;
	float: left;
}

.navbar ul{
	float: right;
}

.navbar li{
	float: left;
}

.navbar li a{
	display: block;
	padding: 20px;
	margin-right: 20px;
	text-decoration: none;
	color: #fff;
	transition: all 0.3s;
}

.navbar li a:hover,.navbar li a:focus{
	background-color: orange;
}

.banner{
	margin-top: 60px;
	background-color: #000;
	position: relative;
	z-index: 1;
}

.bannerMask{
	background-color: rgba(0,0,0,0.3);
	padding: 20px;
	color: #fff;
	position: absolute;
	z-index: 2;
	top: 30%;
	width: 50%;
	margin: 0 25%;
	text-align: center;
}

.bannerMask h2{
	margin-bottom: 10px;
}

.bannerMask h5{
	line-height: 1.5;
}

.bannerMask .symbol{
	margin: 0 5px;
}

.featureDesc{
	margin: 0 auto;
	background-color: #efe9e7;
}

.featureDesc h5{
	text-align: center;
}

.featureDesc li{
	float: left;
	width: 31.33333%;
	margin: 1%;
	text-align: center;
}

.featureDesc li h4{
	margin-top: 20px;
	margin-bottom: 10px;
}
.featureDesc li p{
	text-align: justify;
	padding: 5%;
}

.featureTableSet{
	width: 80%;
	margin: 0 10%;
}

.featureTableSet td{
	width: 33.33333%;
	padding: 20px 0;
	vertical-align: middle;
	text-align: center;
}

.featureTableSet hr{
	width: 50%;
}

.chefInfo{
	margin: 0 auto;
	background-color: #3d1101;
	color: #efe9e7;
}


.chefInfo td{
	width: 46%;
	margin: 2%;
	padding: 2%;
	vertical-align: middle;
	text-align: center;

}
.chefInfo p{
	padding: 10px;
	text-align: justify;
}

.chefInfo h4{
	text-align: left;
}

.chefInfo span{
	font-size: 16px;
}

.feedbackMsg{
	padding: 20px 0;
	color: #3d1101;
	background-color: #efe9e7;
}
.feedbackMsg h5{
	text-align: center;
}

.feedbackMsgBlock img{
	border-radius: 50%;
	border: 2px solid 	#fff;
}

.feedbackMsgBlock p{
	text-indent: 0;
	margin-top: 10px;
	padding-left: 3em;
}

.feedbackTitle{
	font-size: 16px;
	padding-left: 0.5em;
}

.feedbackSign{
	display: block;
	text-align: right;
}

.swiper-container {
 	width: 96%;
	height: 96%;
	margin: 2% 2%;
}
.swiper-slide {
	text-align: center;
	/*font-size: 18px;*/
	/*background: #fff;*/
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}


.orderForm{
	margin-top: 20px;
	color: #3d1101;
}

.mapwrapper{
	position: relative;
    padding-bottom: 70%; 
    overflow: hidden;
}

.mapwrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.orderForm h5{
	text-align: center;
}

.orderForm li{
	width: 48%;

	margin: 20px 1%;
	float: left;
}

.orderForm .inputSetting{
	width: 98%;
	margin: 1% 1%;
	font-size: 14px;
	font-family: 微軟正黑體;
}

.orderForm iframe{
	width: 350px;
	height: 250px;
	margin-top: 20px;
}

.orderformBtn{
	float: right;
}

.radioItem input[type='radio']:after {
    width: 17px;
    height: 17px;
    border-radius: 17px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.radioItem input[type='radio']:checked:after {
    border-radius: 11px;
    background-color: #4a90e2;
    border: 5px solid #fff;
}

.radioItem label{
	margin-left: 5px;
}

.pure-button-cancel{
	background-color: #a09e9e;
	color: #fff;
	padding-left: 20px;
	padding-right: 20px;
}
.pure-button-submit{
	background-color: #f56c23;
	padding-left: 20px;
	padding-right: 20px;
}

.footer{
	padding: 30px 0;
	color: #3d1101;
	background-color: #efe9e7;
}

.restInfo{
	float: left;
	width: 29.33333%;
	margin: auto 2%;
}

.restInfo h4{
	margin-bottom: 10px;
}

.restInfo li{
	list-style: disc;
	list-style-position: inside;
	font-size: 14px;
	line-height: 1.5;
}

.restInfologo{
	float: right;
	background-image: url("../img/logo_l(null).svg");
	background-repeat: no-repeat;
	width: 243px;
	height: 48px;
	margin-right: 20px;
}

.restInfologo ul{
	float: right;
}

.restInfologo ul li{
	float: left;
}

.restInfologo img{
	width: 24px;
	height: auto;
	margin-top: 60px;
	margin-left: 10px;
}