/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS reset for RWD */
*,*:before,*:after{
	box-sizing: border-box;
}
img{
	max-width: 100%;
	height: auto;
}

/* CSS reset END */

.clearfix:after{
  content:'';
  display:table;
  clear:both;
}

body{
	font-family: 微軟正黑體;
	/*background-color: #000;*/
}

.wrap{
	max-width: 960px;
	margin: 0 auto;
}

.header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	background-color: rgba(0,0,0,0.8);
}

.logo h1 a{
	/* for SearchEngine */
	background-image: url("../img/logo_w(null).svg");
	background-repeat: no-repeat;
	background-position: center center;
	width: 120px;
	height: 40px;
	margin: 10px 20px;
	display: block;
	text-indent: 101%;
	white-space: nowrap;
	overflow: hidden;
	float: left;
}

.navbar ul{
	float: right;
}

.navbar li{
	float: left;
}

.navbar li a{
	display: block;
	padding: 20px;
	margin-right: 20px;
	text-decoration: none;
	color: #fff;
	transition: all 0.3s;
}

.navbar li a:hover,.navbar li a:focus{
	background-color: orange;
}

.banner{
	margin-top: 60px;
	background-color: #000;
	position: relative;
	z-index: 1;
}

.bannerMask{
	background-color: rgba(0,0,0,0.3);
	padding: 20px;
	color: #fff;
	position: absolute;
	z-index: 2;
	top: 30%;
	width: 50%;
	margin: 0 25%;
	text-align: center;
}

.bannerMask h2{
	font-size: 30px;
	margin-bottom: 10px;
}

.bannerMask p{
	font-size: 18px;
	line-height: 1.5;
}

.bannerMask .symbol{
	margin: 0 5px;
}

.imgDesc{
	margin: 30px auto;

	background-color: #fff;
}

.imgDesc hr{
	display: inline-block;
	margin-left: 30%;
}
.imgDesc h2{
	font-size: 18px;
	text-align: center;
}

.imgDesc li{
	float: left;
	width: 31.33333%;
	margin: 1%;
	background-color: #fff;
	text-align: center;
}

.imgDesc li h3{
	margin-top: 20px;
	margin-bottom: 10px;
}
.imgDesc li p{
	text-align: justify;
	font-size: 14px;
	text-indent: 2em;
	padding: 5%;
}

.chefInfo{
	margin-bottom: 20px;
}

.chefInfo li{
	float: left;
	width: 48%;
	margin: 1%;

}
.chefInfo li p{
	padding: 10px;
	line-height: 1.5;
	text-indent: 2em;
	text-align: justify;
}

.chefInfo h2{
	font-size: 20px;
}

.feedbackMsg h2{
	text-align: center;
	font-size: 18px;
}

.feedbackMsg h3{
	text-align: right;
	font-size: 14px;
}

.msgBlock{
	width: 31.33333%;
	margin: 5% 1%;
	float: left;
}

.msgBlock span{
	font-size: 16px;
	padding-left: 1em;
}

.msgBlock p{
	margin-top: 10px;
	padding-left: 5.5em;
	font-size: 14px;
}

.orderForm{
	margin-top: 20px;
}

.orderForm h2{
	text-align: center;
	font-size: 18px;
}

.orderForm li{
	width: 48%;

	margin: 20px 1%;
	float: left;
}

.orderForm .inputSetting{
	width: 98%;
	margin: 1% 1%;
	font-size: 14px;
	font-family: 微軟正黑體;
}

.orderForm iframe{
	width: 350px;
	height: 250px;
	margin-top: 20px;
}

.footer{
	margin: 40px auto;
}

.restInfo{
	float: left;
	width: 31.33333%;
	margin: auto 1%;
}

.restInfo p{
	text-indent: 2em;
}

.restInfo li{
	list-style: disc;
	list-style-position: inside;
}

.restInfologo{
	float: right;
	background-image: url("../img/logo_l(null).svg");
	background-repeat: no-repeat;
	width: 243px;
	height: 48px;
	margin-right: 20px;
}

.restInfologo ul{
	float: right;
}

.restInfologo ul li{
	float: left;
}

.restInfologo img{
	width: 24px;
	height: auto;
	margin-top: 60px;
	margin-left: 10px;
}