@include wrap_setting($max_width);

.header{
    background-color: rgba($color: #000000, $alpha: 0.8);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    @include logo-for-searchengine(120px,40px,"../img/logo_w(null).svg");
    margin-left: 20px;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    li{
        margin: 20px 0;
    }
    a{
        color: #fff;
        text-decoration: none;
        padding: 20px;
        margin: 0 10px;
    }
}

.banner{
    position: relative;
    display: flex;
}

.bannerMask{
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.3);
}