
/* -- 1. INDEX.HTML CSS setting -- */

.featureDesc{
	margin: 0 auto;
	background-color: $main_bg_color;
	h5{
		text-align: center;
	}
	img{
		border-radius: 50%;
		border: 5px solid #fff;
	}
	li{
		@include display_columns(3,1%,1%);
		text-align: center;
		h4{
			margin-top: 20px;
			margin-bottom: 10px;
		}
		p{
			text-align: justify;
			padding: 5%;
		}
	}
}

.featureTitle{
	display: flex;
	justify-content: center;
	align-items: center;
    color: $main_font_color;
	margin: 0px auto;
	padding: 20px 0;
	width: 50%;
	&::before,&::after{
		// 偽元素的線
		content: "";
		flex-grow: 1;
		background: gray;
		height: 1px;
		margin: 0px 10px;
	}
}


/* feature RWD setting */
@include tablet_grid{
	.featureDesc{
		li{
			width: 70%;
			margin: 0 15%;
			p{
				font-size: 16px;
			}
		}
	}
	.featureTitle{
		width: 80%;
		margin: 0 10%;
	}
}

@include phone_grid{
	.featureDesc{
		li{
			width: 98%;
			margin: 0 1%;
		}
	}
}


.chefInfo{
	margin: 0 auto;
	padding: 20px;
	background-color: $main_font_color;
	color: $main_bg_color;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	.item{
		// flex-basis: 50px;
		width: 50%;
		flex-grow: 1;
	}
	.chefText{
		display: flex;
		flex-direction: column;
		padding: 40px;
	}
	.chefInfoReadMore{
		display: none;
		text-decoration: none;
		align-self: flex-end;
		color: gray;
	}
}

@include tablet_grid{
	.chefInfo{
		flex-direction: column;
		.chefText{
			padding: 10px;
		}
		p{
			font-size: 16px;
		}
		.chefSubInfo{
			display: none;
		}
		.chefInfoReadMore{
			display: block;
		}
	}
}


/* customer's feed back */
.feedbackMsg{
	padding: 20px 0;
	color: $main_font_color;
	background-color: $main_bg_color;
	h5{
		text-align: center;
	}
}

.feedbackMsgBlock{
	img{
		border-radius: 50%;
		border: 2px solid #fff;
	}
	p{
		text-indent: 0;
		margin-top: 10px;
		padding-left: 5.5em;
	}
}

@include tablet_grid{
	.feedbackMsgBlock{
		p{
			padding-left: 2em;
		}
	}
}

.feedbackTitle{
	font-size: 16px;
	padding-left: 0.5em;
}

.feedbackSign{
	display: block;
	text-align: right;
	font-size: 12px;
}

/* feedback swiper's setting */
@include swiper_setting;

/* order form & map */
.orderForm{
	margin: 20px auto;
	color: $main_font_color;
	h5{
		text-align: center;
	}
	li{
		@include display_columns(2,20px,1%);
		label{
			margin-bottom: 1em;
		}
		input{
			margin-bottom: 3em;
		}
	}
	.inputSetting{
		width: 98%;
		margin: 0.5em 1%;
		margin-bottom: 1em;
		font-size: 14px;
		font-family: $font_type;
		border: 1px solid gray;
		padding: 0.5em;
	}
	.radioItem{
		label{
			margin-left: 5px;
		}
		input[type='radio']{
			&:after{
				width: 17px;
			    height: 17px;
			    border-radius: 17px;
			    top: -2px;
			    left: -1px;
			    position: relative;
			    background-color: #d1d3d1;
			    content: '';
			    display: inline-block;
			    visibility: visible;
			    border: 2px solid white;
			}
			&:checked:after{
				border-radius: 11px;
			    background-color: #4a90e2;
			    border: 5px solid #fff;
			}
		}
	}
	.pure-button-cancel{
		background-color: #a09e9e;
		color: #fff;
		padding-left: 20px;
		padding-right: 20px;
	}
	.pure-button-submit{
		background-color: #f56c23;
		padding-left: 20px;
		padding-right: 20px;
	}
}

@include tablet_grid{
	.orderForm{
		li{
			width: 80%;
			margin: 0 10%;
		}
	}
}

@include phone_grid{
	.orderForm{
		li{
			width: 90%;
			margin: 0 5%;
		}
	}
}

.mapwrapper{
	@include iframe_RWD_display(70%);
}

.orderformBtn{
	float: right;
}


/* -- 1. INDEX.HTML CSS setting END -- */
