/* Overall setting */
$font_type: 微軟正黑體;
$font_eng_type: Arial;
$font_eng_type_bold: Arial Black;
$max_width: 960px;
$main_bg_color: #efe9e7;
$main_font_color: #3d1101;


/* z-index */
$zindex_1st: 999;
$zindex_2nd: 998;
$zindex_3rd: 997;
$zindex_least: 1;

/* link color setting */
$active_1stmenu_color: orange;
$active_2ndmenu_color: blue;

/* cart color setting */
$cart_color: #ff5e45;

/* favorite color setting */
$heart_color: red;